{% extends 'update_base.html' %}
{% load static %}
{% block title %}
    Edit Profile
{% endblock %}

{% block content %}



        <div class="col-lg-5 offset-3 mx-auto">
            <section>
            <h3 class="heading">select the item you want to update</h3>
            {% for certification in certifications %}
                <div class="job-listing  ">
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="row">

                                <div class="col-10">

                                    <h4>{{ certification.title }} </h4>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-12 col-lg-6">
                            <div class="row">

                                <div class="col-10">
                                    <a href="{%  url 'curriculum:update_certification' certification.id %}" class="btn btn-outline-white-secondary">
                                            <i class="fa fa-edit"></i>Edit
                                        </a>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}


            </section>
            <div class="col-md-12 col-lg-6">
                            <div class="row">

                                <div class="col-10">
                                    <a href="{%  url 'curriculum:certificationitem'   %}" class="btn btn-outline-white-secondary">
                                            <i class="fa fa-edit"></i> Add new items
                                        </a>
                                </div>

                            </div>
                        </div>

        </div>



    {% endblock %}