{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>
		Apply for Registration!
	</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	   <h2>When you apply for a job, the company that announced it will receive your application and be able to view your profile details. Since you haven't already created one, you cannot currently apply for any job. We recommend you fill in the details to build your profile, those details would be then sent as your profile view.</h2>



       <h2> click<a href="{% url 'curriculum:resume' %}"> here</a></h2>

</body>
</html>