{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>
		Apply for Registration!
	</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	   <h2>Thank you for joining us.Please fill in some details for your company to get started with posting jobs.Your request for registration will be submitted once you provide these details.</h2>



       <h2>  click<a href="{% url 'jobs:company_create_profile' %}"> here</a></h2>

</body>
</html>