{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>
		Generate CV
	</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	   <h2>Hello there, you are trying to generate your CV with the details in your profile. Since you haven't already created one, we recommend you create a profile with information about yourself that  will then be used to generate your CV.</h2>



       <h2> click<a href="{% url 'curriculum:resume' %}"> here</a></h2>

</body>
</html>