{% extends 'resume_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    Edit Profile
{% endblock %}
{% block content%}
<div class="col-lg-7 offset-3 mx-auto">
    <div class="col-md-12 col-lg-6">
                            <div class="row">

                                <div class="col-10">
                                    <a href="{%  url 'curriculum:updatecertification'   %}" class="btn btn-outline-white-secondary">
                                            <i class="fa fa-edit"></i> Update existing items
                                        </a>
                                </div>

                            </div>
                        </div>

    <div class="box border">
        <form enctype="multipart/form-data" method="POST" action="">
            {% csrf_token %}
            <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.title|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.authority|as_crispy_field }}
      </div>
  </div>
  {{ form.url|as_crispy_field }}
   <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.end_year|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.end_month|as_crispy_field }}
      </div>
  </div>
            <input class="btn btn-info btn-lg btn-block" type="submit" value="save" />
        </form>
    </div>
</div>
   {% endblock %}