{% extends 'resume_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    Edit Profile
{% endblock %}
{% block content%}
<!-- <div class="headline">
	<h2>language</h2></div> -->
<div class="col-lg-7 offset-3 mx-auto">
    <div class="box border rounded">
        <form method="POST">
            {% csrf_token %} 
            {{ form|crispy }}
            <input class="btn btn-info btn-lg btn-block" type="submit" value="save" />
        </form>
    </div>
</div>
   {% endblock %}