{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Edit Profile
{% endblock %}

{% block content %}
<!-- <style>
body {
  font-family: "Lato", sans-serif;
}


}
</style> -->
<!-- <link rel="stylesheet" href="{% static 'css/custom.css' %}"> -->

<div class="sidenav">
  <a href="/employee/resume">Resume</a><br>
        <a href="/employee/training">Education</a><br>
        <a href="/employee/skill">Skill</a><br>
        <a href="/employee/skillitem">Skill Item</a><br>
        <a href="/employee/project">Project</a><br>
        <a href="/employee/projectitem">Project Item</a><br>
        <a href="/employee/experience">Experience</a><br>
        <a href="/employee/certification">Certification</a><br>
        <a href="/employee/certificationitem">Certification Item</a><br>
        <a href="/employee/language">Language</a><br>
        <a href="/employee/languageitem">Language Item</a><br>
</div>
<div class="main">
        
</div>
{% endblock %}