{% autoescape off %}
Hi {{ user.first_name }},

Thank you for joing us. You are just one click away from getting connected to us.
Please click on the link to confirm your registration,

http://{{ domain }}{% url 'activate' uidb64=uid token=token %}


Please try resetting your password if the activation link shows "Activation link inavlid!!" error. In case of any other issues, please report to the department.

Department of Electronics and Computer Engineering
Institute of Engineering, Pulchowk Campus
Pulchowk, Lalitpur


+977-1-5534070
ece@ioe.edu.np
P.O. Box No. 1915, Pulchowk, Lalitpur
{% endautoescape %}